<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('@Url.Content("~/images/pic1.jpg")');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: white;
            overflow: hidden;
        }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight:bold;
        }

        .navbar {
            background: transparent;
            padding: 15px 0;
            background-color: rgba(0, 0, 0, 0.6); /
        }

        .navbar-brand, .nav-link {
            color: #ffffff !important;
            font-weight: bold;
            font-size: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: color 0.3s ease-in-out;
        }

        .nav-link:hover {
            color: #ffcc00 !important;
            text-decoration: underline;
        }

        .footer {
            background: rgba(0, 0, 0, 0.6); 
            color: #ffffff; 
            padding: 10px 0;
            text-align: center;
            width: 100%;
            position: relative;
            padding-bottom: 60px; 
        }

        .hero {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .full-width-container {
            background-color: rgba(0, 0, 0, 0.6); 
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }

        .content-container {
            padding: 5px;
            border-radius: 10px;
            height: 100%;
        }

        .btn-transparent {
            background-color: transparent;
            border-color: transparent;
            color: #fff; 
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FOODIE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn-transparent" asp-controller="BookTable" asp-action="Index">Book a Table</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="full-width-container">
        <div class="container content-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer">
        &copy; 2024 - RestaurantManagement
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

